// Define as cores padrão para o Just the Docs
$body-background-color: #ffffff; // Cor do fundo do corpo
$body-text-color: #000000; // Cor do texto do corpo

$nav-background-color: #005f0a; // Cor de fundo do menu de navegação
$nav-text-color: #ffffff; // Cor do texto no menu
$nav-child-link-color: #b0b0b0; // Cor dos links no menu

$link-color: #005f0a; // Cor dos links gerais
$btn-primary-color: #009739; // Cor do botão primário
