
// Importa o esquema de cores do Just the Docs
@import "../../_sass/color_schemes/custom";  // Cuidado com o caminho correto!

// Suas modificações de estilo personalizado
$body-background-color: #ffffff;
$body-text-color: #1e1e2f;

$nav-background-color: #009739;
$nav-text-color: #ffffff;
$nav-child-link-color: #d4d4d4;

$link-color: #008000;
$color-button: #008000;
$btn-primary-color: #008000;

